.App {
	text-align: center;
}
@import "~antd/dist/antd.css";

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.password :hover {
	color: rgb(250, 106, 106);
}
.password {
	text-align: right;
	color: rgb(209, 7, 7);
}
.loginButton {
	height: 50px;
}
.RegButton {
	height: 50px;
}
.RegButton:hover {
	color: thistle;
}
.site-description-item-profile-wrapper {
	margin-bottom: 7px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	line-height: 1.5715;
}

[data-theme="compact"] .site-description-item-profile-wrapper {
	font-size: 12px;
	line-height: 1.66667;
}

.ant-drawer-body p.site-description-item-profile-p {
	display: block;
	margin-bottom: 16px;
	color: rgba(0, 0, 0, 0.85);
	font-size: 16px;
	line-height: 1.5715;
}

[data-theme="compact"] .ant-drawer-body p.site-description-item-profile-p {
	font-size: 14px;
	line-height: 1.66667;
}

.site-description-item-profile-p-label {
	display: inline-block;
	margin-right: 8px;
	color: rgba(0, 0, 0, 0.85);
}
